@charset "UTF-8";

html{
    font-size: 16px;
}

/*スマホ用*/
@media screen and (max-width: 480px){
    html{
        font-size: 6px;
    }
}

/*タブレット用*/
@media screen and (max-width: 959px){

}

/*共通*/
html, body{
    width: 100%;
    -webkit-text-size-adjust: 100%;

    margin: 0;
    padding: 0;

    background-color: #ffffff;

    font-family: 'Raleway', 'Montserrat' sans-serif;

    line-height: 1.7;
}

h1{
    display: inline-block;
    width: 90%;

    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2.5%;

    border-radius: 100px;

    background-color: #0d1029;

    text-align: center;
    font-size: 3rem;
    font-family: Raleway, sans-serif;
    color: #ffffff;
}

#generate{
    width: 50%;
    height: 7vh;

    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;

    border: solid #0d1029 1px;
    border-radius: 20px;
    background-color: #ffffff;

    color: #0d1029;
    font-family: Raleway, sans-serif;
    font-weight: normal;
    font-size: 4rem;

    cursor: pointer;
}

#generate:active{
    background-color: #0d1029;
    color: #ffffff;
}

h2{
    display: inline-block;
    width: 40vh;
    height: 40vh;

    margin-right: calc(calc(100vw - 40vh) / 2);
    margin-left: calc(calc(100vw - 40vh) / 2);
    margin-top: 5%;

    border: #0d1029 solid 1px;
    border-radius: 20vh;

    background-color: #0d1029;

    text-align: center;
    font-size: 10rem;
    font-family: Montserrat, sans-serif;
    color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

h2:active{
    background-color: #ffffff;
    color: #0d1029;
}

#showing{
    display: inline-block;
    width: 40vh;

    margin-right: calc(calc(100vw - 40vh) / 2);
    margin-left: calc(calc(100vw - 40vh) / 2);
    margin-top: 2.5%;

    text-align: center;
    font-size: 3.5rem;
    font-family: Montserrat, sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: #0d1029;
}

#prev{
    width: 30%;
    height: 5vh;

    margin-right: 35%;
    margin-left: 35%;
    margin-top: 2.5%;

    border: #0d1029 solid 1px;
    border-radius: 20px;
    background-color: #0d1029;

    color: #ffffff;
    font-size: 3rem;
    font-family: Raleway, sans-serif;

    cursor: pointer;
}

#prev:active{
    background-color: #ffffff;
    color: #0d1029;
}

#show{
    width: 40%;
    height: 7vh;

    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;

    border: #0d1029 solid 1px;
    border-radius: 20px;
    background-color: #0d1029;

    color: #ffffff;
    font-size: 3rem;
    font-family: Raleway, sans-serif;

    cursor: pointer;
}

#show:active{
    background-color: #ffffff;
    color: #0d1029;
}

#allarray{
    display: none;
}

#allarray.active{
    display: inline-block;
    
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;

    padding-top: 2.5%;
    padding-bottom: 2.5%;

    border-radius: 30px;
    background-color: #0d1029;

    color: #ffffff;
    font-size: 3rem;
    font-family: Montserrat, sans-serif;
    text-align: center;
}